.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  
}
.App .text{
  width: 200px;
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  
  
  
  
  z-index: 1;
}
.App span{
  cursor: pointer;
  color: #0E21A0;
}
@media screen and(min-height:150px) {
  .App p{
    
    top:8%;
    left: 40%;
  }
}